.loginComponent{
    height: 100%;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

.formContainer{
    padding: 25px;
    min-width: 400px;
    border: 1px black solid;
}

.submit-btn{
    width: 100%;
}



