<div class="loginComponent">
    <div class="formContainer center">
        <form [formGroup]="form">
            <fieldset>
                <!-- <legend>Login</legend> -->
                <div class="form-field form-group">
                    <label>Email:</label>
                    <input name="email" class="form-control" formControlName="email">
                </div>
                
                <div class="form-field form-group">
                    <label>Password:</label>
                    <input name="password" class="form-control" formControlName="password" type="password">
                </div>
            </fieldset>
            <div class="form-buttons form-group">
                <button class="btn btn-primary submit-btn" (click)="login()">Login</button>
            </div>
            <small><a class="float-L" href="">Forgot password?</a>  <a class="float-R" href="">New account</a></small>
        </form>
    </div>
</div>