html, body
{
    height: 100%;
    margin: 0px;
}

@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: blod;
    src: url("./assets/Aslina-Bold.otf") format("opentype");
}


.fs025{
    font-size: 0.25em;
}

.fs050{
    font-size: 0.50em;
}

.fs075{
    font-size: 0.75em;
}

.fs100{
    font-size: 1em;
}

.fs125{
    font-size: 1.25em;
}

.fs150{
    font-size: 1.50em;
}

.fs175{
    font-size: 1.75em;
}

.dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: table;
}

.green{
    background-color: rgb(72, 233, 72);
}

.gray{
    background-color: grey;
}

  .status-name{
      width: fit-content;
      float: left;
  }

  .status-icon{
    left: 6px;
    top: 6px;
    position: relative;
  }

  .circle-icon{
    height: 1em;
    width: 1em;
    border: 1px solid rgb(72, 233, 72);
    border-radius: 50%;
    display: table;
  }
