<div class="content">
    <div class="title" >
        <span class="company-name" (click)="navigateByUrl('')">Twoja Firma</span>
        <span class="app-name">mojaApka</span>
    </div>
    <div class="user-block">
        <div class="profile-photo">
            <img src="assets/musk.png">
        </div>
        <div class="user-info">
            <span class="fs150">Witaj</span>
            <span class="fs125">{{user.firstName}} {{user.secondName}}</span>
            <span class="fs125 status-name">{{user.status}}</span>
            <p [ngClass]="userService.getWorkStatusIcon(user.status)"></p>
        </div>
    </div>
    <div class="action-list">
        <ul class="">
            <li  class="" *ngFor="let action of sideMenuActions">
                <span class="fas fa-book-reader"></span>
                <span class=" fs150 action-name">{{action}}</span>
            </li>
        </ul>
    </div>

</div>