<div class="content">
    <div class="title">
        <span class="company-name">Twoja Firma</span>
        <span class="app-name">mojaApka</span>
    </div>
    <div class="user-block">
        <div class="profile-photo">
            <img src="assets/musk.png">
        </div>
        <div class="user-info">
            <span class="fs150">Witaj</span>
            <span class="fs100">Jan Nowak</span>
            <span class="fs100 status-name">online</span>
            <p class="dot status-icon"></p>
        </div>
    </div>
    <div class="action-list">
        <ul class="">
            <li  class="" *ngFor="let action of sideMenuActions">
                <span class="far fa-arrow-alt-circle-right"></span>
                <span class="action-name">{{action}}</span>
            </li>
        </ul>
    </div>

</div>