.top-bar{
    width: calc(100% - 250px);
    height: 50px;
    float: right;
}

.side-menu{
    width: 250px;
    height: 100%;
    float: left;
}

.dashboard{
    width: calc(100% - 250px);
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    left: 250px;
}

@media (max-width: 1000px) {
    .top-bar{
        width: 100%;
        height: 50px;
    }
    
    .side-menu{
        height: calc(100% - 50px);
        visibility: hidden;
    }
    
    .dashboard{
        width: 100%;
        height: calc(100% - 50px);
        position: absolute;
        left:0px;
    }
    
  }
